# Dependency directories
node_modules/

# Build outputs
dist/
build/

# Environment files
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System Files
.DS_Store
Thumbs.db

# IDE and editor folders
.idea/
.vscode/
*.swp
*.swo

# Testing
test-results/
coverage/

# Electron build directories
out/

# Playwright reports
/playwright-report/
/test-results/